// Checkbox
.usa-checkbox {
  @extend .bg-transparent, .margin-y-1, .text-no-uppercase;
  @media screen and (max-width: 479px) {
    &__label {
      padding-left: 0rem;
      text-indent: 0rem;
      display: grid;
      grid-auto-flow: column;
      &::before {
        height: 1.6rem;
        width: 1.6rem;
        margin-right: 1.375rem;
      }
    }
  }
}

.grid-container[dir="rtl"] {
  .usa-checkbox__label {
    @extend .text-indent-0;
    &::before {
      @extend .margin-left-105, .margin-right-0, .right-2px, .left-0;

      @media screen and (max-width: 479px) {
        margin-left: 1.375rem;
      }
    }
  }
}
