.usa-checkbox__label {
  @media screen and (max-width: 479px) {
    padding-left: 0rem;
    text-indent: 0rem;
    display: grid;
    grid-auto-flow: column;
  }
}

.usa-checkbox__label::before {
  @media screen and (max-width: 479px) {
    height: 2rem;
    width: 2rem;
    margin-right: 1.375rem;
  }
}

.grid-container[dir="rtl"] {
  @extend .text-right;

  .usa-checkbox__label {
    @extend .text-indent-0;
  }

  .usa-button {
    @extend .text-right;
  }

  .usa-checkbox__label::before {
    @extend .margin-left-105, .margin-right-0, .right-2px, .left-0;

    @media screen and (max-width: 479px) {
      margin-left: 1.375rem;
    }
  }

  .feedback-h1 {
    @extend .text-right;
  }
}
