@import "variables.scss";

.usa-input,
.usa-textarea,
.usa-checkbox__label {
  color: $feedback__dark;
  font-size: 1.125rem;
  @media screen and (min-width: 480px) {
    font-size: 1.375rem;
  }
}

.usa-checkbox__label {
  font-weight: 700;
}

// .usa-input,
// .usa-textarea {
//   padding: 1.25rem 1.375rem;
// }
