@use "sass:map";
@import "./variables.scss";

$theme-show-notifications: false;

$theme-image-path: "~uswds/src/img";
$theme-font-path: "~uswds/src/fonts";
$theme-hero-image: "~uswds/src/img/hero.png";

$border-width-manual-values: (
  "6px": 6px,
);
$padding-manual-values: (
  "10px": 10px,
  "9px": 9px,
);
$border-settings: map-merge(
  $border-settings,
  (
    focus: true,
  )
);
$border-width-settings: map-merge(
  $border-width-settings,
  (
    focus: true,
  )
);
$background-color-settings: map-merge(
  $background-color-settings,
  (
    focus: true,
  )
);
$height-settings: map-merge(
  $height-settings,
  (
    responsive: true,
  )
);

// Colors
$theme-color-primary: $feedback__dark;
$theme-color-primary-light: $feedback__light;
$theme-color-base: $feedback__dark;
$theme-respect-user-font-size: false;
// $theme-root-font-size: 30px;
$theme-color-primary-lighter: $feedback__lightest;

// Typography
$theme-font-type-sans: "public-sans";

// Buttons
$theme-button-border-radius: 5px;

//Checkbox
$theme-checkbox-border-radius: 0;
// Input
