// Colors
$feedback__dark: #162e51;
$feedback__light: #e1f3f8;
$feedback__white: #ffffff;
$feedback__lightest: #f3fcff;

// Components
$button-bg-color: $feedback__dark;
$button-text-color: $feedback__white;
$button-hover-bg-color: $feedback__light;
$button-hover-text-color: $feedback__dark;
$button-border-radius: 5px;
$button-padding: 15px 20px;

$form-bg-color: $feedback__light;

$header-bg-color: $feedback__dark;
$header-height-lg: 40px;
$header-height-sm: 30px;

$selected-bg-color: $feedback__lightest;
$default-border: 4px solid $feedback__dark;
$selected-border: 6px solid $feedback__dark;
