// Colors
$feedback__dark: #162e51;
$feedback__light: #e1f3f8;
$feedback__white: #ffffff;
$feedback__lightest: #f3fcff;
$base__dark: #042d36;
$error__lighter: #ffe8e6;
$error: #d24425;

$error-alert-bg-color: $error__lighter;
$error-alert-bar-color: $error;
$alert-text-color: $base__dark;

$themes: (
  default: (
    feedback-primary: #162e51,
    feedback-inverse: #e1f3f8,
    feedback-inverse-lighter: #f3fcff,
    feedback-error: #d24425,
    feedback-error-lighter: #ffe8e6,
    feedback-base: #042d36,
    feedback-white: #fff,
    feedback-checkbox-border: 0 0 0 2px #162e51,
  ),
  dark: (
    feedback-primary: #e1f3f8,
    feedback-inverse: #162e51,
    feedback-inverse-lighter: #244371,
    feedback-error: #d24425,
    feedback-error-lighter: #ffe8e6,
    feedback-base: #042d36,
    feedback-white: #000,
    feedback-checkbox-border: 0 0 0 2px #e1f3f8,
  ),
);
